<section class="ui stacked segment">
	<h4 id="headfont" class="ui blue dividing header">
		<i class="users icon"></i>Friends (${user.friendships.size()})
	</h4>
	#{if user.friendships.size() > 0}
	<table id="font" class="ui table segment">
		<tbody>
			#{list items:user.friendships, as:'friendship'}
			<tr>
				<td>
					<div class="ui avatar image">
						<img src="/profile/getthumbnail/${friendship.targetUser.id}">
					</div>
				</td>
				<td><a href="/publicprofile/${friendship.targetUser.id}">
						${friendship.targetUser.firstName}
						${friendship.targetUser.lastName} </a></td>
				<td><a id="headfont"
					class="ui small blue basic button labeled icon"
					href="/home/drop/${friendship.targetUser.id}"><i
						class="remove user icon"></i>drop</a></td>
				<td><a id="headfont"
					class="ui small blue basic button labeled icon"
					href="/publicblog/${friendship.targetUser.id}"><i
						class="book icon"></i>blog</a></td>
			</tr>
			#{/list}
		</tbody>
	</table>
	#{/if}
</section>
