<section class="ui container">
<section class="ui raised segment">
  <div class="ui list"> 
    #{list items:users, as:'user'}
      <div class="ui item"> 
        <div class="ui avatar image">
						<img src="/profile/getthumbnail/${user.id}">
					</div>
        <div class="content">
         ${user.online} ${user.firstName} ${user.lastName}: : ${user.statusText}  <a class="ui tiny blue basic button" href="members/follow/${user.id}"> Follow </a> 
           <a class="ui tiny blue basic button" href="/membersblog/${user.id}">Blog</a>
        </div>
      </div>
    #{/list}
  </div>
</section>
</section>