#{extends 'main.html' /} #{set title:'Home' /}

<section class="ui stackable container">
	<nav id="headfont" class="ui blue inverted stackable menu">
		<header class="header item"> Spacebook </header>
		<div class="right menu">
			<a class="active item" href="/home">Home</a> <a class="item"
				href="/members">Members</a> <a class="item" href="/profile">Profile</a>
			<a class="item" href="/blog">Blog</a> <a class="item"
				href="/editprofile">Account Settings</a> <a class="item"
				href="/logout">Logout</a>
		</div>
	</nav>


	<h1 id="headfont" class="ui blue top attached header">${user.firstName}
		${user.lastName}</h1>
	<section class="ui blue two column grid stackable segment">
		<div class="row">
			<div class="ui column">#{include
				"components/homeImageStatus.html" /}</div>
			<div class="column">#{include
				"components/homestatusupdate.html" /}</div>
		</div>

		<div class="row">
			<div class="ui column">#{include "components/friends.html" /}</div>
			<div class="column">#{include "components/messages.html" /}</div>
		</div>
	</section>
</section>


