
<head>
<title>#{get 'title' /}</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css"
	href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
<link href='https://fonts.googleapis.com/css?family=Indie+Flower'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Orbitron:500,400,700'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo'
	rel='stylesheet' type='text/css'>
</head>
<body>
	<section class="ui segment">#{doLayout /}</section>
</body>
</html>